body{
	background: white;
}

.container{
    margin: 5 auto;
    background: white;
    padding: 40px;
    max-width: 1200px;
	 overflow: hidden;
}

p{
	overflow-x: hidden;
}

td{
	 word-break: break-all;
    font-size: 12px;
}

table{
	width: 100%;
}
